body {
  font-family: sans-serif;
}

img{
  display: none;
}

#gameScreen{
  border: 1px solid black;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#user_interface_container{
  /* margin: auto;
  border: 1px solid black;
  margin: auto;
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: 1; */
  border: 1px solid black;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 800px;
  height: 600px;
  z-index: 1;
  overflow: hidden;
}

/* main menu styles */
#main_menu_container{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#start_btn{
  width: 100%;
  margin: auto;
  display:block;
}

#server_browser_btn{
  width: 100%;
  margin: auto;
  display:block;
}

/* server browser styles */

#server_menu_container{
  height: 100%;
  width: 100%;
  position: absolute;
}

#browser_header{
  text-align: center;
  margin: auto;
  padding: 10px;
}

#searchbar{
  text-align: center;
  margin: auto;
  padding: 10px;
}

#join_btn{
  width: 100%;
  margin: auto;
  display:block;
}

#server_list{
  border: 1px solid black;
  margin: auto;
  padding : 0;
  width: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.server_li{
  list-style-type: none;
}

.server_btn{
  width: 100%;
}